@model WrapRentrakWeb1.ViewModel.ReportViewModel

<div class="panel-body">
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">
                @Model.ReportName
            </h3>
            <p>@Model.Market</p>
            <p>@Model.Station</p>
            <p>@Model.StreamType</p>
        </div>
    </div>
</div>